    /* header part */

body {
    position: relative;
    bottom: 3rem; 
}

.title h1 {
    position: relative;
    font-size: 2rem;
    left: 1.5rem;
    top: 3rem;
}

.title h2 {
    position: relative;
    text-align: right;
    right:1.5rem; 
}

.title spam {
    color: black;
}

header {
    background-color: lightgrey;
    border: 32px solid lightgrey;
    height: 40rem;
    font-family: arial;
}

header img {
    width: 60%;
    height: 95%;
}

header h1 {
    position: relative;
    text-align: right;
    bottom: 35rem;
    right: 5rem;
    color: rgb(54,54,54);
    font-size: 3.5rem;
    font-weight: 700;
}

header p {
    position: relative;
    text-align: right;
    bottom: 36rem;
    right: 6.5rem;
    font-size: 2rem;
    color: rgb(54,54,54);
    font-weight: 600;
}

.box-header {
    position: relative;
    text-align: right;
    bottom: 35rem;
    left: 67rem;
    width: 26rem;
    height: 3.5rem;
    background-color: rgb(54,54,54);
}
.box-header h2 {
    text-align: center;
    position: relative;
    top: 0.8rem;
}

.box-header a {
    color: white;
}

header h1 spam {
    position: relative;
    right: 5rem;
}

p spam {
    position: relative;
    right: 1rem;
}

header a {
    text-decoration: none;
}

/* end of header part */

/* middle part*/
.mid {
    border: 3px solid red;
    height: 50rem;
    width: 104rem;
    display: flex;
   justify-content: space-around;
   position: relative;
   top: 3rem; 
}

.box img {
    width: 50.5rem;
    
}

.mid-box1 img, .mid-box2 img, .mid-box3 img {
    width: 10.5rem;
}

.mid-box3 {
    display: inline-flex;
    margin: 10px -32px;
    width: 115%;
    height: auto;
    background-color: gray;
    
}

.mid-box1, .mid-box2 {
    width: 90%;
    display: inline-flex;
    margin: 10px -32px;
}

.boxes {
    height: 50rem;
    width: 44.5rem;
    flex-direction: column;
}